/* Smartphone tablette*/
@media (max-width : 1024px) {

    /*logo*/

#logoheader{
   width: 30vw;
}

/*barre de recherche*/

#barrederecherche{
    display: none;
}

/*menu hamburger*/
    /*bordure*/

#btnnavbar{
    height: 5vh;
    border : 5px solid rgba(143, 36, 158, 1) ;
    border-radius: 14px;
}

    /*icône*/

.iconify{
    height: 85%;
}




}
