/*Smartphone à petit écran*/
@media (min-width : 500px) and (max-width : 710px) {


    /*logo*/

#logoheader
{
   width: 30vw;
}

    /*menu burger*/

.content
{
    margin-right: -14em;
    margin-left: 5em;
}

    /*bordure*/

#btnnavbar
{
    height: 5vh;
    border : 5px solid rgba(143, 36, 158, 1) ;
    border-radius: 14px;
}

    /*icône*/

.iconify
{
    height: 85%;
}

    /*liens nav*/

#liensnav
{
    width: 32%;
    top: 136px;
    left: 45px;
}

.linky
{
    font-size: 9px;
}
}

/*Smartphone à grand écran*/
@media (min-width : 711px) and (max-width : 1023px) {


    /*logo*/

#logoheader
{
   width: 30vw;
}

    /*menu burger*/

.content
{
    margin-right: -14em;
    margin-left: 5em;
}

    /*bordure*/

#btnnavbar
{
    height: 5vh;
    border : 5px solid rgba(143, 36, 158, 1) ;
    border-radius: 14px;
}

    /*icône*/

.iconify
{
    height: 85%;
}

    /*liens nav*/

#liensnav
{
    width: 23%;
    top: 136px;
    left: -26px;
}

.linky
{
    font-size: 10px;
}

}

/*Tablette*/
@media (min-width : 1024px) and (max-width : 1590px){


.content
{
    margin-right: -17em;
    margin-left: 12em;
}

#liensnav
{
    width: 21%;
    top : 156px;
    left: -20px; 
}

.linky
{
    font-size: 13px;
}
}

